body {
    background-image: url('file:/Users/Lexie.Murphy/Desktop/GifTastic/assets/images/emojibackground.jpg')
}

.container {
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10;
    font-size: 50px;
    color: white;
}

.topic-btn {
    background-color: yellow;
    font-size: 20px;
    font-style: bold;
    border-color: black;
    border-width: 2px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

#buttons-view {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#add-topic {
    text-align: center;
    background-color: green;
    color: white;
    border-color: black;
    border-width: 2px;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}

#topic-form {
    font-style: bold;
    color: yellow;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#topic-input {
    font-size: 20px;
    color: black;
    border-color: black;
    border-width: 2px;
    margin-bottom: 15px;
}

#topics-view {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    color: white;
}

.topicGif {
    border-color: black;
    border-width: 5px;
    width: 350px;
    margin-top: 10px;
}